{% extends 'modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="container my-5">
    <h3>Excluir Registro</h3>
<p class="lead">
    Confirmar para excluir o registro
</p>

<form action="" method="POST">

    <p>
        Deseja excluir o registro: <b>{{object}}</b>?
    </p>

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-danger">Excluir</button>
    <a class="btn btn-primary" href="{% url 'list_transacao' %}">Cancelar</a>

</form>
</div>


{% endblock %}